
<% if @post.liked_by?(current_user) %>
  <%= link_to(post_add_path(@post), method: :delete, remote: true, id: :"like-button-#{@post.id}") do %>
    <i class="far fa-heart"></i><span><%= @post.likes.count %></span>

   <% end %>
<% else %>
  <%= link_to(post_add_path(@post), method: :post, remote: true, id: :"like-button-#{@post.id}") do %>
    <i class="far fa-heart"></i>
    <% if @post.likes.present? %>
      <span><%= @post.likes.count %></span>
    <% end %>
  <% end %>
<% end %>
