<div class="post_wrapper">
  <div class="post_wrapper__content">
    <div class="post_wrapper__content__post_form">
      <h3>投稿編集</h3>
        <%= render 'templates/form' %>
    </div>
  </div>
</div>